<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link href="/static/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>
  <body>
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <a href="/recipes" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">List</a>
                <a href="/recipes/new" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Add a recipe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="mx-10">
      {{{body}}}
    </div>
  </body>
</html>
