<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}
    <h1>Recipes</h1>
    <h2>Add Recipe</h2>
    <form action="/api/recipes/submit" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="ingredients">Ingredients</label>
        <input type="text" name="ingredients" id="ingredients">
      </div>
      <div>
        <label for="instructions">Instructions</label>
        <input type="text" name="instructions" id="instructions">
      </div>
      <div>
        <label for="prepTime">Preparation Time</label>
        <input type="text" name="prepTime" id="prepTime">
      </div>
      <div>
        <label for="cookTime">Cooking Time</label>
        <input type="text" name="cookTime" id="cookTime">
      </div>
      <div>
        <input type="submit" value="Send" accesskey="s" />
      </div>
    </form>
  </body>
</html>
