{{#> index }}
<div class="container mx-8">
  <h1 class="text-2xl">Recipes</h1>
  <ul>
    {{#each recipes}}
      <li><a href="/recipes/{{id}}">{{name}}</a></li>
    {{/each}}
  </ul>
  <a href="/recipes/new">Add a recipe</a>
</div>
{{/index}}