<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>
  <body>
    <h1 class="text-2xl my-8">Add Recipe</h1>
    <form action="/api/recipes/submit" method="POST">
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="flex flex-col md:mr-4 mb-4 gap-4">
          <div class="grid grid-cols-3">
            <label class="" for="name">Name:</label>
            <input class="col-span-2 border rounded border-gray-400" type="text" name="name" id="name">
          </div>
          <div class="grid grid-cols-3">
            <label for="prepTime">Preparation Time:</label>
            <input class="col-span-2 border rounded border-gray-400" type="text" name="prepTime" id="prepTime">
          </div>
          <div class="grid grid-cols-3">
            <label for="cookTime">Cooking Time:</label>
            <input class="col-span-2 border rounded border-gray-400" type="text" name="cookTime" id="cookTime">
          </div>
        </div>
        <div class="col-span-2">
          <div>
            <label for="ingredients">Ingredients</label>
            <div class="mt-2">
              <textarea id="ingredients" name="ingredients" rows="5" cols="33">
              </textarea>
            </div>
          </div>
          <div>
            <label for="instructions">Instructions</label>
            <div class="mt-2">
              <textarea id="instructions" name="instructions" rows="5" cols="33">
              </textarea>
            </div>
          </div>
        </div>
      </div>      
      <div>
        <input class="cursor-pointer bg-gray-600 border rounded-lg border-gray-600 px-4" type="submit" value="Send" accesskey="s" />
      </div>
    </form>
    <script>
      const ingredientsEditor = new SimpleMDE({ element: document.getElementById("ingredients") });
      const instructionsEditor = new SimpleMDE({ element: document.getElementById("instructions") });
    </script>
  </body>
</html>
