<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>
  <body>
    <h1 class="text-2xl my-8">Add Recipe</h1>
    <form action="/api/recipes/submit" method="POST">
      <div class="grid grid-cols-3">
        <div class="grid grid-cols-2">
          <label class="" for="name">Name:</label>
          <input class="border rounded border-gray-400" type="text" name="name" id="name">
            <label for="prepTime">Preparation Time:</label>
            <input type="text" name="prepTime" id="prepTime">
            <label for="cookTime">Cooking Time:</label>
            <input type="text" name="cookTime" id="cookTime">
          
        </div>
        <div class="col-span-2">
          <div>
            <label for="ingredients">Ingredients</label>
            <textarea id="ingredients" name="ingredients" rows="5" cols="33">
            </textarea>
          </div>
          <div>
            <label for="instructions">Instructions</label>
            <textarea id="instructions" name="instructions" rows="5" cols="33">
            </textarea>
          </div>
        </div>
      </div>
      
      
      
      <div>
        <input type="submit" value="Send" accesskey="s" />
      </div>
    </form>

    <h2>Recipe List</h2>
    <ul>
      {{#each recipes}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
    <script>
      const ingredientsEditor = new SimpleMDE({ element: document.getElementById("ingredients") });
      const instructionsEditor = new SimpleMDE({ element: document.getElementById("instructions") });
    </script>
  </body>
</html>
